# render.yaml
services:
  - type: web
    name: glimpse-dind
    env: docker
    region: oregon
    plan: starter
    dockerfilePath: ./Dockerfile-dind
    dockerCommand: uvicorn api:app --host 0.0.0.0 --port $PORT --workers 2
    disk:
      name: docker-data
      mountPath: /var/lib/docker
      sizeGB: 1
    envVars:
      - key: DOCKER_HOST
        value: unix:///var/run/docker.sock
      - key: DOCKER_TLS_CERTDIR
        value: ""
      - key: PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: false
    numInstances: 1